body {
  margin: 0;
  padding: 0;
  font-family: 'sans-serif';
}

.loc-center {
  text-align: center;
  margin: 5px;
}

.logo-sbr {
  text-align: center;
  position: relative;
  margin: 100px auto 100px auto;
}

.box {
  width:1200px;
  position: relative;
  margin: 30px auto auto 40px;
}

.inner-box {
  position: relative;
  margin: 20px;
  height:500px
}

.detail-box {
  position: relative;
  margin: 20px auto;
  padding: 10px;
  text-align:left;
  height:600px
}

.detail-btn {
  position: relative;
  margin:10px auto 10px auto;
  float: right;
  display: block;
}

.pojok {
  margin:490px auto;
}

/* login */

.login-page {
  width:600px;
  text-align: center;
  position: relative;
  margin: auto;
}

.login-form {
  width: 300px;
  text-align: center;
  position: relative;
  margin: 20px auto;
}

.login-footer {
  text-align: center;
  position: relative;
  margin: 50px auto;
}
